<h1>Добавленная оценка: </h1>
<p>id: <%= @mark.id %> </p>
<p>Студент: <%= @mark.student_id %> </p>
<p>Предмет: <%= @mark.subject_id %> </p>
<p>Оценка: <%= @mark.mark %> </p>
<p>Семестр: <%= @mark.semestr %> </p>
