<h1>Редактировать студента:</h1>
<%= form_for @students, url: {action: "edit"}, html: {class: "nifty_form"} do |f| %>
	<table>
		<tr>
			<td>
  				<b>ID: </b>
			</td>
			<td>
				<%= f.text_field :id %>
			</td>
		</tr>
		<tr>
			<td>
  				<b>Surname: </b>
			</td>
			<td>
				<%= f.text_field :surname %>
			</td>
		</tr>
		<tr>
			<td>
  				<b>Name: </b>
  			</td>
  			<td>
  				<%= f.text_field :name %>
  			</td>
  		</tr>
  		<tr>
  			<td>
  				<b>Email: </b>
  			</td>
  			<td>
  				<%= f.text_field :email %>
  			</td>
  		</tr>
  		<tr>
  			<td>
  				<b>Group: </b>
  			</td>
  			<td>
  				<%= f.text_field :group %>
  			</td>
  		</tr>
  		<tr>
  			<td>
  				<b>Birth: </b>
  			</td>
  			<td>
  				<%= f.text_field :birth %>
  			</td>
  		</tr>
  		<tr>
  			<td>
  				<b>Opinion: </b>
  			</td>
  			<td>
  				<%= f.text_field :opinion %>
  			</td>
  		</tr>
	</table>
	<%= f.submit "Edit Student" %>
<% end %>