<h1>Добавленный студент: </h1>
<p>id: <%= @students.id %> </p>
<p>Фамилия: <%= @students.surname %> </p>
<p>Имя: <%= @students.name %> </p>
<p>E-mail: <%= @students.email %> </p>
<p>Дата рождения: <%= @students.birth %> </p>
<p>Группа: <%= @students.group %> </p>
<p>Мнение научного руководителя:  <%= @students.opinion %> </p>
<br />
<button>
	Добавить нового студента
</button>
<br />
<button>Редактировать студента</button>